$main-font : Arial, Helvetica, sans-serif;

body
{
    font-family: $main-font
}

nav 
{
    background-color: white;
    font-size: 2em;
    font-weight: 900;
}

.nav-item
{
    margin-left: 1em;
    margin-right: 1em;
}

label
{
    font-weight: bolder;
}


@media (max-width: 1199.98px) 
{ 
    nav
    {
        font-size: 2em;
    }

    #userSection
    {
        margin-top: .5em;
        margin-bottom: .5em;
    }

}

@media (min-width: 1199.98px)
{
    nav
    {
        font-size: 1.25em;
    }
}

#CartCounter
{
    font-size: 1.5em;
    display: inline;
    margin-left: .1em;
    vertical-align:middle;
}

.card-header
{
    font-size: 1.5em; font-weight: 600; text-align: center; color: white; background-color: #dc3545;
}

